div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 41.05em;

    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 34%, rgba(255,146,78,1) 100%);
}